* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: 240, 240, 240;
  --accent-color: 87, 194, 255;
  --secondary-accent-color: 52, 180, 255;
  --red-color: 213, 58, 58;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: url(images/background-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Scrollbar */
/* ::-webkit-scrollbar {
  width: 6px;
  color: red;
}

::-webkit-scrollbar-track {
  background-color: rgba(var(--accent-color), 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--accent-color));
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--secondary-accent-color));
  cursor: pointer;
}  */

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--accent-color)) rgba(var(--accent-color), 0.3);
}


h1 {
  text-align: center;
  font-size: 3rem;
  color: rgb(225, 241, 255);
  text-shadow: 0 0 2px rgb(255, 255, 255), 0 0 8px rgba(194, 226, 255, 0.4), 0 0 16px rgba(107, 183, 255, 0.1);
}

.todo-app {
  width: 50vw;
  height: 50vh;
  padding: 32px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 425px) {
  .todo-app {
    width: 90vw;
  }
}

#todo-form {
  position: relative;
}

#todo-form > * {
  border-radius: 1000px;
  padding: 10px;
  outline: none;
  --border-size: 1px;
}

#todo-text {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: var(--border-size) solid rgba(var(--primary-color), 0.2);
  color: rgb(var(--primary-color));
  caret-color: rgb(var(--accent-color));
  transition: border 1s ease, box-shadow 5s ease;

}

#todo-text:focus {
  box-shadow: 0 0 16px rgba(var(--accent-color), 0.4);
  border: var(--border-size) solid rgba(var(--secondary-accent-color), 0.4);
}

#add-button {
  position: absolute;
  right: var(--border-size);
  top: var(--border-size);
  border: none;
  padding-inline: 16px;
  background-color: rgb(var(--accent-color));
  color: rgb(var(--primary-color));
  font-weight: bold;
  cursor: pointer;
  transition: background-color .5s;
}

#add-button:hover {
  background-color: rgb(var(--secondary-accent-color));
}

.todo-list-container {
  overflow-y: auto;
  flex-grow: 1;
}

.todo-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.todo-item {
  width: 100%;
  max-height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  background-color: rgba(var(--secondary-accent-color), 0.1);
  color: rgb(var(--primary-color));
  padding: 6px;
  border-radius: 1000px;
  cursor: pointer;
  transition: 1s background-color;
  animation: .3s deleting paused;
}

.completed {
  text-decoration: line-through;
  background-color: rgba(var(--primary-color), 0.1);
}

.todo-item:not(.completed):hover {
  background-color: rgba(var(--secondary-accent-color), 0.2);
}

.todo-item:not(.completed):hover .checkbox,
.todo-item:not(.completed):hover .blank-checkbox {
  fill: rgb(var(--accent-color));
}

.todo-content {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide {
  display: none;
}

.todo-list svg {
  height: 20px;
  transition: 1s all;
  flex-shrink: 0;
  fill: currentColor;
}

.delete-button:hover {
  fill: rgb(var(--red-color));
}

/* ANIMATIONS */

@keyframes deleting {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}